<h1><%= current_admin_user.company.company_name %></h1>
<h2> Options value list </h2>
<div>
<% @optionvalues.each do |optionvalue| %>
  <%= optionvalue.options_price %><%= optionvalue.date.strftime ("%m/%d/%y") unless optionvalue.date.nil? %><br/>
<% end %>
</div>

