<h1> admin/users index </h1>
List all employees
<ul>
<li>exclude current user from list - controller</li>
<li>add links to view, edit, delete</li>
<li>add job title to users table</li>
<li>exclude any rows with nil in company_id field<li>
<li>paginate</li>
</ul>

<br>
<div>
<% @users.each do |user| %>
  <%= user.firstname %><%= user.lastname %><br/>
  <%= user.email %><br/>
<% end %>
</div>
