<footer class="footer">
  <nav>
    <small>
      Made with &hearts; in London
    </small>
    <ul>
      <li><%= link_to "Home", root_path %></li>
      <li><%= link_to "FAQS", faqs_path %></li>
      <li><%= link_to "Support", '#' %></li>
      </ul>
  </nav>
</footer>
