<footer class="footer">
  <nav>
    <small>
      Made with &hearts; in London
    </small>
    <ul>
      <li><%= link_to "Home",   '#' %></li>
      <li><%= link_to "Contact", '#' %></li>
      </ul>
  </nav>
</footer>
